<div *ngIf="afAuth.authState | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <img [src]="user.photoURL" width="70px" />
    <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
    <p>Inicia sesion.</p>
    <button (click)="login()">Login with Google</button>
    <button (click)="loginfb()">Login with Facebook</button>
    <button (click)="loginemail()">Login with Email</button>
    <button (click)="singupemail()">singup with Email</button>
</ng-template>